* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    /* should make the text transition cleaner */
    /* currently is not doing anything */
    /* overflow: hidden; */
    background-color: #ffe186;
}

.header {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em 10em;
    display: flex;
    justify-content: space-between;
    /* z-index: 100; */
}

.navbar a {
    position:relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 10em;
}
/* makes the cool line things below text */
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width:0;
    height:2px;
    background: #FFF;
    /* time for the line thing to appear*/
    transition: .3s;
}
/* allows the line things to appear when hover */
.navbar a:hover::before {
    width:100%;
}

script {
    font-size: 9em;
}
/* elements */

/* classes */

/* h1 {
    /* padding-top: 1em; */
    /* font-size: 5em;
    text-align: center; 
    font-style: bold; 
    text-shadow: color(srgb rgb(24, 97, 73) green blue); */
    /* text-decoration-line: underline; */
/* } */ 
